<div class="jumbotron  text-center  jumbotron--slider">
    <ul class="slider">
      <!-- slide 1 -->
      <li>
        <h2 class="jumbotron--title  brand--font">Uno</h2>
        <h3 class="jumbotron--sub-title  brand--font-standard">We're a creative agency</h3>
      </li>
      <!-- slide 2 -->
      <li>
        <h2 class="jumbotron--title  brand--font">Dos</h2>
        <h3 class="jumbotron--sub-title  brand--font-standard">We're award winning</h3>
      </li>
      <!-- slide 2 -->
      <li>
        <h2 class="jumbotron--title  brand--font">Tres</h2>
        <h3 class="jumbotron--sub-title  brand--font-standard">We like to drink tea</h3>
      </li>             
    </ul>