<nav class="navbar  navbar-default  navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <!-- main-logo goes here-->
      <h1 class="brand--font">{{ site.name }}</h1>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-menu"></span>
      </button>
    </div>

    <div class="collapse  navbar-collapse  navbar-ex1-collapse">
      <ul class="nav  navbar-nav">
        <!-- **** START - NAVBAR SCROLLSPY FIX DO NOT REMOVE **** -->
        <li class="hide"><a href="#top"></a></li>
        <!-- **** END - NAVBAR SCROLLSPY FIX DO NOT REMOVE **** -->
        <li class="brand--font  h4"><a href="#about">About</a></li>
        <li class="brand--font  h4"><a href="#work">Work</a></li>
        <li class="brand--font  h4"><a href="#feedback">Feedback</a></li>
        <li class="brand--font  h4"><a href="#team">Team</a></li>
        <li class="brand--font  h4"><a href="#clients">Clients</a></li>
        <li class="brand--font  h4"><a href="#contact">Contact</a></li>
        <li class="brand--font  h4"><a href="blog.html">Blog</a></li>
        <li class="brand--font  h4"><a href="extras.html">Extras</a></li>
      </ul>
    </div>

  </div>
</nav>